.line-seperator{
    // border-bottom: solid 1px #346fcf;
    // clear:both;
    border-top: 5px solid #38393a;
    border-radius: 5px;
}

.row-padded{
    padding-top : 20px;
    padding-bottom: 20px;
}